@model MvcProject_Moin.Models.Stuff
<table style="font-family:Arial; border:2px solid black; width: 300px" class="table table-bordered table-striped text-center">
    <tr>
        <td>
            <table>
                <tr>
                    <td><b>Stuff Name:</b></td>
                    <td>@Model.StuffName</td>
                </tr>
                <tr>
                    <td><b>Email Address:</b></td>
                    <td>@Model.EmailAddress</td>
                </tr>
                <tr>
                    <td><b>Cell Phone:</b></td>
                    <td>@Model.CellPhone</td>
                </tr>
                <tr>
                    <td><b>Contact Address :</b></td>
                    <td>@Model.ContactAddress</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
